<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link href="../css/stylecss.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Classroom</title>
</head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="page-classroom.html">Classroom</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link " aria-current="page" href="page-course.html">Course</a>
                    <a class="nav-link " href="page-group.html">Group</a>
                    <a class="nav-link" href="page-teacher.html">Teacher</a>
                    <a class="nav-link " href="page-schedule.html" tabindex="-1"
                       aria-disabled="true">Schedule</a>
                </div>
            </div>
        </div>
    </nav>

<body>
<div class="container overflow-hidden">
    <div class="oo">
        <h1>Audience Home Page</h1>
    </div>
    <form th:action="/create-classroom" th:object="${classroom}" method="post">
        <div class="input-group mb-3">
            <input type="number" name="numberClassroom" class="form-control" placeholder="Number classroom"
                   aria-label="Number classroom" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Create classroom</button>
            </div>
        </div>
    </form>
    <h3>List of audiences</h3>
    <table class="table table-striped">
        <caption>List</caption>
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Number classroom</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>1test</td>
        </tr>
        <th:block th.each="classroom : ${/all-classrooms}">
            <tr>
                <td th:text="${classroom.classroomId}"></td>
                <td th:text="${classroom.numberClassroom}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <form action="/update-classroom" method="post" th:object="${classroom}" th:object="${classroom}">
        <div class="input-group mb-3">
            <input type="number" name="numberClassroom" class="form-control" placeholder="New classroom"
                   aria-label="New classroom" aria-describedby="basic-addon2">
            <input type="number" name="numberClassroom" class="form-control" placeholder="Old classroom"
                   aria-label="Old classroom" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Update classroom</button>
            </div>
        </div>
    </form>

    <form action="/delete-classroom" method="post" th:object="${classroom}">
        <div class="input-group mb-3">
            <input type="number" name="numberClassroom" class="form-control" placeholder="Number classroom for delete"
                   aria-label="Number classroom for delete" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Delete classroom</button>
            </div>
        </div>
    </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</html>
