<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../css/stylecss.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Group</title>
</head>
<body>
<h1>Group</h1>
<form action="/createGroup" method="post" th:object="${group}">
    <input name="nameGroup" type="text">
    <input type="submit" value="Create group">
</form>
<table>
    <caption>List group</caption>
    <tr>
        <th>Id</th>
        <th>Name group</th>
    </tr>
    <th:block th.each="group : ${/allGroups}">
        <tr>
            <td th:text="${group.groupId}"></td>
            <td th:text="${group.nameGroup}"></td>
        </tr>
    </th:block>
</table>
<update action="/updateGroup" method="post" th:object="${group}" th:object="${group}">
    <input name="nameGroup" type="text">
    <input name="nameGroup" type="text">
    <input type="submit" value="Update group">
</update>
<del action="/deleteGroup" method="post" th:object="${group}">
    <input name="nameGroup" type="text">
    <input type="submit" value="Delete group">
</del>
<div>
    <h2><span th:text="${nameGroup}"></span></h2>
</div>
</body>
</html>