<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../css/stylecss.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Teacher</title>
</head>
<body>
<h1>Teacher</h1>
<form action="/createTeacher" method="post" th:object="${teacher}">
    <input name="lastName" type="text">
    <input name="firstName" type="text">
    <input type="submit" value="Create teacher">
</form>
<table>
    <caption>List teacher</caption>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <th:block th.each="teacher : ${/allTeachers}">
        <tr>
            <td th:text="${teacher.teacherId}"></td>
            <td th:text="${teacher.firstName}"></td>
            <td th:text="${teacher.lastName}"></td>
        </tr>
    </th:block>
</table>
<update action="/updateTeacher" method="post" th:object="${teacherNew}" th:object="${teacherOld}">
    <input name="firstName" type="text"> //я думаю тут нужно как то по другому
    <input name="lastName" type="text">
    <input name="firstName" type="text">
    <input name="lastName" type="text">
    <input type="submit" value="Update group">
</update>
<del action="/deleteTeacher" method="post" th:object="${teacher}">
    <input name="firstName" type="text">
    <input name="lastName" type="text">
    <input type="submit" value="Delete teacher">
</del>
<div>
    <h2><span th:text="${firstName}"></span></h2>
    <h2><span th:text="${lastName}"></span></h2>
</div>
</body>
</html>