<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../css/stylecss.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Course</title>
</head>
<body>
<h1>Course</h1>
<form action="/createCourse" method="post" th:object="${course}">
    <input name="nameCourse" type="text">
    <input type="submit" value="Create course">
</form>
<table>
    <caption>List courses</caption>
    <tr>
        <th>Id</th>
        <th>Name course</th>
    </tr>
    <th:block th.each="course : ${/allCourses}">
        <tr>
            <td th:text="${course.courseId}"></td>
            <td th:text="${course.nameCourse}"></td>
        </tr>
    </th:block>
</table>
<update action="/updateCourse" method="post" th:object="${course}" th:object="${course}">
    <input name="nameCourse" type="text">
    <input name="nameCourse" type="text">
    <input type="submit" value="Update course">
</update>
<del action="/deleteCourse" method="post" th:object="${course}">
    <input name="nameCourse" type="text">
    <input type="submit" value="Delete course">
</del>
<div>
    <h2><span th:text="${nameCourse}"></span></h2>
</div>
</body>
</html>