<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../css/stylecss.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Classroom</title>
</head>
<body>
<h1>Audience Home Page</h1>
<form action="/createClassroom" method="post" th:object="${classroom}">
    <input name="numberClassroom" type="number">
    <input type="submit" value="Create classroom">
</form>
<table>
    <caption>List of audiences</caption>
    <tr>
        <th>Id</th>
        <th>Number Classroom</th>
    </tr>
    <th:block th.each="classroom : ${/allClassrooms}">
        <tr>
            <td th:text="${classroom.classroomId}"></td>
            <td th:text="${classroom.numberClassroom}"></td>
        </tr>
    </th:block>
</table>

<update action="/updateClassroom" method="post" th:object="${classroom}" th:object="${classroom}">
    <input name="numberClassroom" type="number">
    <input name="numberClassroom" type="number">
    <input type="submit" value="Update classroom">
</update>

<del action="/deleteClassroom" method="post" th:object="${classroom}">
    <input name="numberClassroom" type="number">
    <input type="submit" value="Delete classroom">
</del>
<div>
    <h2><span th:text="${numberClassroom}"></span></h2>
</div>
</body>
</html>
